@font-face {
    font-family:'copperplate';
    src: url('../fonts/copperplate-bold.ttf');
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'copperplate' !important;
}

header {
    width: 100%;
    height: 100px;
    background-color: #000;
    padding: 0 30px;
    display:grid; 
    grid-template-columns: 40% 60%;
}
@media (max-width:1350px) {
    header {
        padding: 0;
        grid-template-columns: 100%;
    }

    .logos{
        justify-content: center;

    }

    .menu {
        background-color: #000;
        display: flex;
        justify-content: center !important;
    }
}
@media (min-width: 576px) {
    header {
        padding: 0;
        grid-template-columns: 100%;
    }

    .logos{
        justify-content: center;
        

    }

    .menu {
        background-color: #000;
        display: flex;
        justify-content: center !important;
    }
}
.logos {
    display:flex;
    /* float: left; */
}

.logos img {
    height: 100px;
    float: left;
    margin-right: 50px;
    transition: 2s;
}

.logos h2 {
    color: #fff;
    font-size: 50px;
    /* float: right; */
    line-height: 100px;
}

.menu {
    /* float: right; */
    display: flex;
    justify-content: flex-end;
    
}

.menu li {
    list-style-type: none;
    display: inline;
    line-height: 100px;
    margin: 0 20px;
    font-size: 20px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}

.menu li a:hover {
    color: rgb(255, 214, 34);
}

.hero {
    width: 100%;
    height: 500px;
    padding: 100px;
    background-color: linear-gradient(90deg, rgba(0,0,0,0.4318102240896359) 0%, rgba(0,0,0,0.9416141456582633) 100%);
    background-image: url("../Img/3\ botellas\ diferente.jpg");
    background-size: cover;
    background-position: center;
    /* background: rgb(87,87,87); */
    background-blend-mode: multiply;

}
.herocontacto {
    width: 100%;
    height: 500px;
    padding: 300px;
    opacity: 60%;
    background-color: linear-gradient(90deg, rgba(0,0,0,0.4318102240896359) 0%, rgba(0,0,0,0.9416141456582633) 100%);
    background-image: url("../Img/BAUZEN\ PNG.png");
    background-size: cover;
    background-position: center;
    /* background: rgb(87,87,87); */
    background-blend-mode: multiply;

}
.formulariocontacto {
    displ
    width: 500%
    height: 200px




}

.hero h1 {
    font-size: 80px;
    color: #fff;

}

.separador {
    width: 100%;
    height: 100px;
    background-color: #000;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
    clear: both;
}

.gold {
    color: rgb(255, 214, 34);
}

.red {
    color: rgb(151, 41, 26);
}

.fotos {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
}

@media (max-width: 850px) {
    .fotos {
        grid-template-columns: 100%;
        grid-template-rows: 400px 400px;
    } 
}

.fotos .img-foto {
    /* width: 40%;
    height: 300px; */
    /* float: left; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-1 {
    background-image: url("../Img/botellasgolden.jpg");
}

.img-2 {
    background-image: url('../Img/sirviendo\ scotish.jpg');
}


.info-foto {
    /* width: 60%;
    height: 300px;
    float: right; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i1.wp.com/www.sopitas.com/wp-content/uploads/2021/08/glass-bottles-of-beer-with-glass-and-ice-on-dark-background-scaled.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info-foto p {
    width: 70%;
    /* position: relative;
    top: 35%;
    left: 15%; */

    text-align: center;
    color: #fff;
    font-size: 20px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;

}
